/* Error: Undefined variable.
 *    ,
 * 53 |   @media screen and (min-width: $ui-breakpoint-xxs-min) {
 *    |                                 ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   global/base.scss 53:33  @import
 *   main.scss 15:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 53 \2502    @media screen and (min-width: $ui-breakpoint-xxs-min) {\d\a    \2502                                  ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   global/base.scss 53:33  @import\a   main.scss 15:9          root stylesheet";
}
